
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* GLOBAL */
body {
  font-family: 'Poppins';
  margin: 0;
  background-color: #f6fcf9;
  color: #111;
}
/* NAVBAR */
.navbar {
  background-color: #083c35;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 40px;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar__logo img {
  width: 40px;
  height: 40px;
}


.navbar__menu a {
  color: white;
  text-decoration: none;
  margin: 0 55px;
  font-weight: 500;
}

.navbar__menu a:hover {
  text-decoration: underline;
}

.navbar__search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar__search input {
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}